/* BG */

#bg {
	// @include vendor('transition', 'opacity #{_duration(bg-fadein)} ease-in-out');
	background: url("/images/family_filter.jpg");

	height: 100%;
	min-height: 100vh;
	left: 0;
	opacity: .99;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;


	@include breakpoint('<=xsmall') {

		background: url("/images/family_filter.jpg");
		background-repeat: no-repeat;
		background-position: center left;
		background-size: cover;
	}

	div {
		// @include vendor('transition', ('opacity #{_duration(bg-fadein)} ease-in-out'));
		background-size: cover;
		height: 100%;
		left: 0;
		opacity: .9;
		position: absolute;
		top: 0;
		visibility: visible;
		width: 150%;
		z-index: -1;

		&.visible {
			// @include vendor('animation', 'bg #{_duration(bg-fadein)} linear infinite');
			opacity: .5;
			visibility: visible;
			z-index: -1;


			&.top {
				position: relative;
				z-index: -2;
				background: #000;
				opacity: .325;

			}

		}

		body.is-preload {
			opacity: 0;
		}
	}
}